body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10000px
}

.title {
  font-family: Roboto, Arial;
  font-size: 45px;
  text-align: center;
  margin: 35px 0 20px 0 !important;
}

.sub-title {
  font-family: Roboto, Arial;
  font-size: 14px;
  text-align: center;
}


.contact-container {
  max-width: 900px;
  min-width: 300px;
  position: absolute;
}

.form-group {
  margin-top: 20px;
}


.message-container {
  max-width: 100%;
  padding: none;
}

.form-control {
  border-radius: 50px;
  border-color: rgb(194, 194, 194);
  border-width: 2px;
}

.form-control::placeholder {
  padding-left: 5px;
}


.contact-container .form-group {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  gap: 30px;
}

.contact-container .form-group .col {
  position: relative;
  width: 100%;
}

.contact-container .form-group .form-control {
  position: relative;
  width: 100%;
  height: 40px;
}

.contact-container .form-group .form-control input {
  position: absolute;
  width: 90%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .contact-container .form-group {
    grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
  }
}

@media  screen and (max-width: 425px) {
  .contact-container .form-group {
    width: 90%;
    margin: auto;
    gap:5px;
  }
  
}



/*.col {
  display: block;
  margin: auto;
  width: 100%;
}*/

/*.form-control {
  box-shadow: none;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(194, 194, 194);
  width: 95%;
  padding: 5px;
  margin: 3px;
}*/

.message-box {
  width: 100%;
  padding: none;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(194, 194, 194);
  font-size: 14px;
  margin: auto;
  margin-top: 15px;
}

.required {
  font-family: Roboto, Arial;
  margin-left: 10px;
  font-size: 14px;
}

.btn {
  background: rgba(32,116,244,255);
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
  border-radius: 28px;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: auto;
}

.btn:hover {
  cursor: pointer;
  transition: 0.5s;
  background: rgba(32,116,244,0.8);
}

textarea {
  resize: none;
  font-family: Roboto, Arial;
  box-sizing: border-box;
}

textarea::placeholder {
  padding: 5px;
}